In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from src.API.api_request import APIRequest

In [3]:
api_call = APIRequest("TIER")
df = api_call.get()

In [4]:
df.head()

,state,lastLocationUpdate,batteryLevel,currentRangeMeters,lat,lng,maxSpeed,isRentable,vehicleType,time
0,ACTIVE,2023-09-14T18:13:54Z,26,6000,52.468834,13.458543,20,True,escooter,2023-09-14 21:53:25.095015
1,ACTIVE,2023-09-14T19:39:37Z,94,43000,52.500211,13.343958,20,True,escooter,2023-09-14 21:53:25.095015
2,ACTIVE,2023-09-14T19:46:18Z,93,42000,52.499181,13.353597,20,True,escooter,2023-09-14 21:53:25.095015
3,ACTIVE,2023-09-14T19:04:07Z,26,6000,52.525715,13.410724,20,True,escooter,2023-09-14 21:53:25.095015
4,ACTIVE,2023-09-14T18:50:37Z,82,36000,52.528469,13.407458,20,True,escooter,2023-09-14 21:53:25.095015